<% include cabecera.html %>
    <body id="page-top">
       
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
              <h1><%= title %></h1>
             
              <div class="masthead-subheading"><%= bienvenido %>!</div>
              <h5>Fecha <%= fechaActual %></h5>
                <div class="masthead-heading text-uppercase"><%=__('O.O')%></div>
                <a class="btn btn-primary btn-xl text-uppercase" href="./productos"><%=__('Mostrar Productos')%></a>
            </div>
        </header>
  <% include footer.html %>
  </body>
</html>
