<% include cabecera.html %>

<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="text-center">
        <h2 class="section-heading text-uppercase"><%=__('Productos')%></h2>
        <h3 class="section-subheading text-muted"><%=__('Nuestra lista de productos')%></h3>
    </div>
    <div class="containerProduct">
        <% productos.forEach(producto => { %>
          <img src="<%= producto.foto %>" alt="<%=producto.name%>">
          <ul>
            <li class ="TituloProducto"><%= producto.name %> </li>
            <li>Precio: <%= producto.precio %> € </li>
            <li><%= producto.tags %> </li>
            <li class="estado"> 
              <% if (producto.venta) { %>
                <p>Venta</p>
                <button>Comprar</button>
              <% } else { %>
                <p>Compra</p>
                <button>Vender</button>
              <% } %>
            </li>
          </ul>
          
        <% }) %>
        
    </div>
</section>