body {
  
  width: 90%;
  height: 100vh;
  margin:0 auto;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}
main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

a {
  color: #00B7FF;
}

img {
  width: 200px;
}
ul {
  list-style-type: none;
  padding-left: 0;

}
.TituloProducto{
  font-weight: 600;
  margin-bottom: 5px;
}
.estado {
  font-weight: 600;
  color: rgb(20, 114, 20);
}

button {
  background-color: rgb(5, 27, 224);
  color: blanchedalmond;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 5px;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);

}
button:hover{
  background-color: rgb(8, 255, 70);
  color: black;
  transition: background-color .3s linear;
  box-shadow: 0px 0px 15px inset rgb(0, 0, 0);
}


